.head{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid black;
}
.head__container{
    /* width: 300px; */
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}
.head__nav{
    text-decoration: none;
    color: #000;
    padding: 7px 15px;
    border: 1px solid black;
    margin-bottom: -1px;
}
.head__nav:first-child{
    margin-right: 20px;
}
.head__nav.active{
    border-bottom: 1px solid #fff;
}